@media (max-width: 1190px) {
    .content h1 {
        font-size: 35px;
}
    .content {
        padding: 30px;
}
}

@media (max-width: 1070px) {
    .content h1 {
        font-size: 35px;
}
}

@media (max-width: 1024px) {
    .image img {
        width: 100%;
        border-radius: 10px 10px 0 0;
}
    .cartao {
        flex-direction: column-reverse;
}
    .content {
        max-width: 540px;
        gap: 50px;
        text-align: center;
}
    
    .content h1 {
        font-size: 45px;
    }

    .content p {
        font-size: 18px;
    }

    .content .stats .contador {
        font-size: 28px;
    }

    .content .stats .tipo-contador {
        font-size: 14px;
    }

    .content .stats,
    .content p:nth-child(2) {
        margin-right: unset;
}
    .content .stats {
        flex-direction: column;
        align-items: center;
        gap: 50px;
}
}

@media (max-width: 375px) {
    
    .content h1 {
        font-size: 23px;
    }

    .content p {
        font-size: 12px;
    }

    .content .stats .contador {
        font-size: 18px;
    }

    .content .stats .tipo-contador {
        font-size: 11px;
    }
}