body {
    background-color: var(--bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.cartao {
    display: flex;
    background-color: var(--bg-card-color);
    max-width: 1080px;
    max-height: 446px;
    border-radius: 10px;
}

.content {
    margin: 60px ;
}

.content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--title-color);
    text-align: left;
}

.content h1 b {
    color: var(--accent-color);
}

.content p {
    color: var(--stats-color);
    text-align: left;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 40px;
}

.content .stats {
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

.content .stats .info .contador {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 6px;
}

.content .stats .info .tipo-contador {
    color: var(--stats-color);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

.image {
    background-color: var(--img-color);
}

.image img {  
    border-radius: 0 10px 10px 0;
    height: 100%;
    filter: brightness(90%) contrast(100%) sepia(50%) hue-rotate(270deg) opacity(.4);
}
